var filters = {
  toFix: function (value) {
    return value.toFixed(2) //此处2为保留两位小数
  }
}

//求小数后两位 百分比数字
function perNum(a, b) {
    // console.log(a+" -- / --"+b);
    //这里不支持 let 定义 或者是因为作用域的关系 还不清楚 反正是用不了 只能用 var
   var num = ((a / b) * 100).toFixed(2);
  return num
}
function toInt(a){
  return parseInt(a)
} 
module.exports = {
  toFix: filters.toFix,
  perNum: perNum,
  toInt:toInt
}
